In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [21]:
d = pd.read_csv('../tcc/ecc1_.csv')
dCaso1 = d[(d.data>'2018-09-23') & (d.data<'2018-09-25')].interpolate()

In [22]:
di = datetime.datetime(2018,9,23,0)
df = datetime.datetime(2018,9,25,0)
dates = []
while di < df:
    dates.append(di)
    di += datetime.timedelta(hours=1)

In [23]:
def converttoobj(time_str):
    time_obj = datetime.datetime.strptime(time_str, '%Y-%m-%d %H:%M:%S')
    return time_obj

In [24]:
box=[]
datas=[]
i=0
while i < 288:
    box.append(list(map(float,dCaso1.iloc[i:i+6,6].to_list())))
    datas.append(list(map(str,dCaso1.iloc[i:i+6,0].to_list()))[-1])
    i+=6
#datas = [converttoobj(time_str) for time_str in datas]

ValueError: could not convert string to float: 'np.nan'

In [20]:
dCaso1.interpolate()

,data,hora,erro,hPa,tp,ur,vs_med,vs_max,vs_min,vs_dev,...,vi_med,vi_max,vi_min,vi_dev,di_med,di_dev,vm_med,vm_max,vm_min,vm_dev
864,2018-09-23 00:00:00,0,0,959,27.4,70.3,9.18,14.12,5.62,1.39,...,8.53,10.55,6.32,0.76,338,14,9.08,13.61,6.14,1.34
865,2018-09-23 00:10:00,1000,0,959,27.4,70.4,9.66,14.07,5.76,1.22,...,8.84,11.24,6.69,0.63,336,18,9.53,13.98,5.41,1.19
866,2018-09-23 00:20:00,2000,0,959,27.3,70.9,11.61,15.18,7.38,1.88,...,9.7,12.39,6.55,1,334,25,11.44,14.86,7.44,1.83
867,2018-09-23 00:30:00,3000,0,959,27.9,68.8,13.94,16.33,11.35,0.79,...,10.67,12.76,8.39,0.85,332,32,13.76,16.29,11.08,0.78
868,2018-09-23 00:40:00,4000,0,959,27.8,69.2,12.95,14.85,11.44,0.64,...,9.84,11.88,7.79,0.65,328,30,12.76,14.63,11.08,0.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1147,2018-09-24 23:10:00,231000,0,973,17,100.4,10.21,12.92,8.02,1.03,...,9.82,12.02,7.28,0.94,108,5,10.27,12.74,8.04,1.03
1148,2018-09-24 23:20:00,232000,0,973,16.9,100.6,10.55,12.82,8.49,0.87,...,10.12,12.11,7.84,0.86,106,5,10.61,12.88,8.27,0.89
1149,2018-09-24 23:30:00,233000,0,973,16.8,100.6,10.13,12.87,7.15,0.79,...,9.58,12.76,6.82,0.96,109,5,10.19,13.11,7.3,0.8
1150,2018-09-24 23:40:00,234000,0,973,16.6,100.8,10.79,13.33,9.13,0.73,...,10.28,12.34,8.34,0.81,110,4,10.82,13.52,9.05,0.73
1151,2018-09-24 23:50:00,235000,0,973,16.5,100.9,10.81,13.38,8.76,0.88,...,10.5,13.03,8.53,0.85,112,4,10.87,13.38,8.87,0.87

In [22]:
media_horaria=[]
for i in range(len(box)):
    media_horaria.append(np.mean(box[i]))
print(
        'Variancia do período: {} \n'.format(np.var(media_horaria))   
)
print(
        'Desvio padrão do período: {} \n'.format(np.std(media_horaria))
)
print(
        'Média do período: {} \n'.format(np.mean(media_horaria))
)

Variancia do período: 2.4868290461033946

Desvio padrão do período: 1.5769683085285495

Média do período: 3.193680555555556

In [6]:
newdates=[]
for i in range(len(datas)):
    date_obj = datetime.datetime.strptime(datas[i], '%Y-%m-%d %H:%M:%S')
    newdates.append('{:02d}/{:02d} - {:02d}hrs'.format(date_obj.day,date_obj.month,date_obj.hour))

In [2]:
fig = plt.figure(figsize =(20, 14))
# Creating plot
plt.boxplot(x=box,vert=True,  # vertical box alignment
             patch_artist=True,  # fill with color
             labels=newdates)  # will be used to label x-ticks

degrees = 70
plt.xticks(rotation=degrees)
plt.ylabel("Velocidade (m/s)", fontsize=15)
plt.xlabel("Tempo", fontsize=15)
plt.grid(True)
plt.title("Velocidade média do vento torre ECC1",  fontsize=15)
# show plot
plt.show()

NameError: name 'box' is not defined