In [28]:
import pandas as pd

In [29]:
membros = list(range(1,10))
dfs=[]
for membro in membros:
    df = pd.read_csv('/media/lucasdmarten/HD/DADOS_TCC/RESULTADOS/CASO2/MEMBRO{}/c2.m{}.csv'.format(membro,membro))
    df['membro'] = membro
    dfs.append(df)
dfinal = pd.concat(dfs)

In [30]:
dfinal.to_csv('data_ensemble.c2.csv', index_label='id')

In [27]:
dfinal[dfinal['membro']==1]

,times,T2,R2,TD2,PSFC,wspd10,wdir10,wspd67,wdir65,wspd88,wspd108,wdir106,membro
0,2018-05-22 18:00:00,288.09116,55.302570,6.018190,987.50330,3.553299,234.02548,4.041509,232.092479,4.170251,4.276267,231.968089,1
1,2018-05-22 18:10:30,287.85577,51.361750,4.745655,987.22770,3.434262,232.13551,4.270524,231.851782,4.365648,4.439493,231.644634,1
2,2018-05-22 18:21:00,287.86908,50.670860,4.565762,987.38257,3.365648,233.04424,4.262257,232.455693,4.363602,4.441868,232.177650,1
3,2018-05-22 18:30:00,287.92355,50.447956,4.553407,987.50446,3.376479,233.74043,4.290866,233.069231,4.392669,4.471277,232.777156,1
4,2018-05-22 18:40:30,287.88736,50.612007,4.566114,987.33380,3.399806,234.17340,4.322239,233.487609,4.426504,4.507072,233.182145,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,2018-05-24 23:21:00,280.74728,64.689064,1.333135,991.38710,2.772519,145.68710,4.221583,132.322628,4.225480,4.235573,130.162228,1
321,2018-05-24 23:30:00,280.69177,64.730740,1.289414,991.34040,2.806125,144.18137,4.369631,130.811066,4.380710,4.401316,128.667778,1
322,2018-05-24 23:40:30,280.62845,64.790306,1.242092,991.40216,2.858318,142.01328,4.561074,129.003228,4.581061,4.614347,126.908465,1
323,2018-05-24 23:51:00,280.54996,65.025680,1.217789,991.49786,2.910343,140.16447,4.773241,127.717838,4.815219,4.866346,124.821893,1
324,2018-05-25 00:00:00,280.47806,65.389870,1.226779,991.56810,2.963105,138.71465,4.966380,126.712965,5.031485,5.099312,123.384358,1