In [294]:
import numpy as np
import glob
import os
import pandas as pd
import datetime
import cartopy.crs as ccrs
from cartopy.io.shapereader import Reader
import cartopy.feature as cfeature
from cartopy import config
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
from cartopy.feature import ShapelyFeature
from sklearn.metrics import mean_absolute_error,mean_squared_error
from matplotlib.cm import get_cmap
import matplotlib.pyplot as plt

In [322]:
pred = pd.read_csv('/media/lucasdmarten/HD/DADOS_TCC/RESULTADOS/CASO1/MEMBRO1/c1.m1.csv',usecols=[0,5,6,7,8,9,10,11])[36:-1]
pred = pred[36:-1]
obs = pd.read_csv('/media/lucasdmarten/HD/backup/projetos/tcc/tcc/data/ecc1_.csv',usecols=[0,3,4,5,6,10,12,16,18])
obs = obs[(obs.data>'2018-05-23') & (obs.data<'2018-05-25')]
time = obs.data

In [323]:
d = {}
for membro in range(1,10):
    name = 'membro'+str(membro)
    pred = pd.read_csv('/media/lucasdmarten/HD/DADOS_TCC/RESULTADOS/CASO1/MEMBRO{}/c1.m{}.csv'.format(membro,membro),
                       usecols=[0,5,6,7,8,9,10,11])[36:-1]
    spd108 = pred.wspd108
    d.update({name:spd108.to_list()})

In [324]:
obs[obs=='np.nan'] = np.nan
obs = obs.iloc[:,1:].astype('float')
obs.index = time

In [325]:
obs_spd108 = obs.vs_med.astype('float').interpolate().to_list()

In [326]:
ensemble =  pd.DataFrame(d)
ensemble.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   membro1  288 non-null    float64
 1   membro2  288 non-null    float64
 2   membro3  288 non-null    float64
 3   membro4  288 non-null    float64
 4   membro5  288 non-null    float64
 5   membro6  288 non-null    float64
 6   membro7  288 non-null    float64
 7   membro8  288 non-null    float64
 8   membro9  288 non-null    float64
dtypes: float64(9)
memory usage: 20.4 KB

In [327]:
#caso1
for membro in range(9):
    name = 'membro'+str(membro+1)
    print('Erro médio absoluto para o {}'.format(name))
    print(mean_absolute_error(ensemble.iloc[:,membro],obs_spd108))

Erro médio absoluto para o membro1
1.6097611254755053
Erro médio absoluto para o membro2
1.5402076745430824
Erro médio absoluto para o membro3
1.8158899110724345
Erro médio absoluto para o membro4
1.7272801265992557
Erro médio absoluto para o membro5
1.6730862536210032
Erro médio absoluto para o membro6
1.860446013546397
Erro médio absoluto para o membro7
1.9070068409814023
Erro médio absoluto para o membro8
1.7202921935630913
Erro médio absoluto para o membro9
1.7460604821743875

In [321]:
for membro in range(9):
    name = 'membro'+str(membro+1)
    print('Erro médio absoluto para o {}'.format(name))
    print(mean_absolute_error(ensemble.iloc[:,membro],obs_spd108))

Erro médio absoluto para o membro1
5.113265197957912
Erro médio absoluto para o membro2
7.305812382939594
Erro médio absoluto para o membro3
4.93616568272168
Erro médio absoluto para o membro4
5.568201246283995
Erro médio absoluto para o membro5
5.801587432956205
Erro médio absoluto para o membro6
5.5706414138642435
Erro médio absoluto para o membro7
5.209791890685158
Erro médio absoluto para o membro8
5.784707628569056
Erro médio absoluto para o membro9
5.554847476115571

In [328]:
ensemble.iloc[:,1].mean()

4.31961491625599

In [329]:
obs.vs_med.astype('float').mean()

3.1936805555555536

In [287]:
ensemble.interpolate()

,membro1,membro2,membro3,membro4,membro5,membro6,membro7,membro8,membro9
0,10.798054,15.117245,11.192379,11.245355,11.289805,11.409722,11.451886,11.610041,12.164507
1,10.968449,15.667809,11.502951,11.529218,11.488969,11.175359,11.447613,11.983123,12.485028
2,11.175667,16.205961,11.582104,12.090867,11.817018,10.958877,11.693105,12.080457,12.731232
3,11.198348,16.340797,12.028379,12.351546,11.947622,10.883398,11.514589,12.211716,12.649431
4,11.331823,16.556290,12.572177,12.491429,12.000104,10.652872,11.357840,12.415242,12.222073
...,...,...,...,...,...,...,...,...,...
283,11.488665,25.767205,11.044947,12.595411,12.275431,13.781844,13.085655,13.647044,11.360927
284,11.642121,25.586784,10.767718,13.211345,12.120880,13.012527,13.052631,13.885009,11.356309
285,11.751483,25.437099,10.712995,13.784739,12.221600,11.641553,13.001187,14.049893,11.523901
286,11.694614,25.156827,10.775363,14.452479,12.646916,10.723445,12.732350,14.195403,11.677398
287,11.621148,25.103617,10.899856,14.584182,13.204242,10.979909,12.457154,14.341324,11.647813

In [270]:
obs_spd108

[9.18,
 9.66,
 11.61,
 13.94,
 12.95,
 11.42,
 10.71,
 10.44,
 10.03,
 8.43,
 8.14,
 7.5,
 6.0,
 14.36,
 20.68,
 22.87,
 20.36,
 15.96,
 13.65,
 11.03,
 11.17,
 11.01,
 11.0,
 10.17,
 11.48,
 11.92,
 11.84,
 12.09,
 13.77,
 14.44,
 12.4,
 14.73,
 15.65,
 13.58,
 12.41,
 13.64,
 15.0,
 13.69,
 14.15,
 14.76,
 14.61,
 14.63,
 14.38,
 15.44,
 14.4,
 13.52,
 11.4,
 9.42,
 7.32,
 9.51,
 14.67,
 16.77,
 17.56,
 16.13,
 9.48,
 14.14,
 13.47,
 16.91,
 16.25,
 17.58,
 nan,
 17.9,
 17.04,
 16.67,
 17.57,
 17.91,
 18.11,
 18.33,
 18.06,
 15.71,
 13.61,
 12.9,
 13.14,
 15.14,
 17.31,
 16.89,
 16.48,
 13.73,
 16.27,
 19.24,
 16.8,
 15.85,
 16.96,
 17.14,
 17.18,
 17.37,
 17.02,
 18.2,
 18.98,
 19.28,
 18.79,
 17.43,
 16.28,
 16.86,
 18.46,
 17.23,
 16.01,
 14.51,
 13.89,
 14.08,
 14.42,
 12.91,
 14.97,
 13.7,
 15.55,
 16.73,
 16.4,
 15.83,
 14.01,
 13.61,
 14.94,
 16.72,
 18.28,
 16.11,
 14.13,
 15.09,
 14.65,
 14.36,
 15.02,
 14.71,
 14.49,
 14.65,
 14.27,
 14.98,
 16.02,
 16.01,
 15.92,
 14.87,
 13.97,
 14.13,
 13.47,
 13.7,
 13.89,
 12.8,
 9.84,
 9.08,
 8.98,
 10.06,
 11.04,
 12.56,
 10.86,
 9.99,
 9.48,
 10.12,
 9.75,
 10.72,
 10.09,
 7.79,
 8.42,
 7.96,
 8.11,
 7.79,
 9.29,
 8.32,
 7.66,
 8.77,
 14.76,
 14.93,
 9.94,
 11.59,
 12.2,
 8.69,
 7.66,
 7.79,
 9.79,
 10.12,
 12.38,
 11.13,
 9.97,
 13.11,
 12.28,
 11.83,
 11.44,
 5.46,
 10.83,
 15.64,
 15.12,
 16.12,
 15.79,
 13.84,
 11.07,
 11.41,
 11.8,
 16.59,
 13.17,
 12.86,
 11.27,
 11.32,
 12.35,
 11.59,
 10.55,
 12.41,
 13.68,
 12.57,
 11.06,
 10.96,
 11.02,
 11.56,
 10.58,
 11.26,
 11.34,
 10.08,
 9.04,
 8.99,
 8.2,
 6.75,
 7.0,
 7.97,
 7.97,
 8.62,
 8.84,
 7.91,
 7.89,
 7.78,
 8.01,
 6.93,
 6.72,
 6.18,
 5.66,
 5.67,
 6.38,
 7.27,
 7.19,
 6.29,
 6.47,
 6.07,
 6.36,
 6.96,
 6.51,
 6.78,
 10.19,
 12.04,
 13.75,
 13.18,
 10.8,
 10.78,
 12.14,
 9.52,
 10.69,
 15.01,
 15.62,
 15.82,
 13.58,
 11.84,
 12.29,
 10.44,
 10.35,
 9.45,
 8.82,
 8.24,
 6.52,
 5.74,
 6.05,
 6.25,
 5.36,
 4.72,
 4.73,
 4.89,
 5.64,
 5.86,
 5.22,
 5.47,
 5.4,
 5.09,
 4.78,
 5.68,
 7.52,
 8.32,
 9.23,
 9.68,
 9.78,
 10.51,
 9.39,
 8.76,
 9.56,
 9.8,
 9.73,
 9.41,
 8.83,
 9.55,
 9.7,
 10.09,
 9.3,
 10.21,
 10.55,
 10.13,
 10.79,
 10.81]